.container-header{
    width: 100vh;
}

.container-nav {
    display: inline-flex;
    flex-direction: column;
    gap: 1px;
    width: 130px;
    border-right: 1px solid black;
    height: 100vh;
    padding-right: 25px;
    padding-top: 30px;
}

.container-parent{
    display: flex;
    position: absolute;
    left: 0;
}

/* direct child of parent with universal selector to select all children */
.container-nav > * {
    flex-basis: 50px;
    justify-content: space-evenly;
}

.container-nav a {
    text-decoration: none;
    color: rgb(43, 41, 41);
}

li {
    list-style-type: none;
}

#nav-order-summary {
    color: purple;
}

.container-services-settings {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 5px;
    margin-left: 50px;
}

.container-sort {
    display: flex;
}

.container-sort select {
    width: 25%;
}

.container-prev-next {
    display: flex;
    justify-content:flex-end;
}

input[type="text"] {
    width: 75%;
}

table, th, td {
    border-collapse: collapse;
}

th {
    background-color: #bebebe;
}

th, td {
    text-align: left;
    padding: 10px;
}

.order-label:hover{
    cursor: pointer;
}

#bill-overlay {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1000;
    background-color: rgba(0, 0, 0, 0.5);
}
.billOverlayElems{
    display: none;
}
@keyframes expand {
    from {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
    }
    to {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
}

@keyframes retract {
    from {
        transform: translate(-50%, -50%) scale(1);
        opacity: 1;
    }
    to {
        transform: translate(-50%, -50%) scale(0.5);
        opacity: 0;
    }
}
#bill-content-block{
    background-color: white;
    position: fixed;
    width:20em;
    top: 50%;
    left: 50%;
    z-index: 1001;
    padding:20px;
    border-radius: 10px;
    opacity: 0;
    transition: opacity 0.3s, transform 0.3s;
}
#bill-content-block.expand {
    animation: expand 0.3s forwards;
}

#bill-content-block.retract {
    animation: retract 0.3s forwards;
}
.odd-tr{
    background-color: rgb(230, 230, 230);
}
.even-tr{
    background-color: rgb(250, 250, 250);
}